<html>
<head>
    <title>Sakthi Group</title>
        <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" >
                
                <div class="sidebar-brand-text mx-3">Sakthi Group</div>
            </a>
            <hr class="sidebar-divider my-0">
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Menu
            </div>

            <div ngbDropdown class="nav-item">
                <a [routerLink]="['/data']" ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Drawing</span>
            </a>
         </div>

         <div ngbDropdown class="nav-item">
            <a [routerLink]="['/grid']" ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>GRID</span>
        </a>
     </div>
     <div ngbDropdown class="nav-item">
        <a [routerLink]="['/update']" ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>UPDATE</span>
       </a>
     </div>

     <div ngbDropdown class="nav-item">
     <a [routerLink]="['/upload']" ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
      aria-expanded="true" aria-controls="collapseTwo">
       <i class="fas fa-fw fa-cog"></i>
       <span>UPLOAD</span>
     </a>
     </div>

     <hr  class="sidebar-divider d-none d-md-block">

     <div  class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>  
        </ul>

    
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block">

                    </div>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Username</span>
                            <img class="img-profile rounded-circle"
                                src="/assets/img/images.png">
                        </a>
                    </li>

                </ul>

            </nav>


<div class="card">
    <form [formGroup] = "userForm">
        <div class="mt-5 box">
            <div >
                <div  style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>DRAWING NUMBER</span>
                    </div>
                    <br>
                    <div  style="margin-top:-10px">
                        <div >
                            <input type="text" formControlName="drawingnumbernew" class="form-control" placeholder="Enter Drawing Number">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>Component Name</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="componentnamenew" class="form-control" placeholder="Enter Component Name">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>PARTNAME</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="partnamenew" class="form-control" placeholder="Enter Partname">
                        </div>
                    </div>
                </div>

                <div  style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>MATERIAL</span>
                    </div>
                    <br>
                    <div class="form-row" style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="materialnew" class="form-control" placeholder="Enter Material">
                        </div>
                    </div>
                </div>
                
                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>SEQUENCE NAME</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="sequencenamenew" class="form-control" placeholder="Enter Sequence Name">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>OPN</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="opnnew" class="form-control" placeholder="Enter OPN">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>BAR</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="barnew" class="form-control" placeholder="Enter Bar">
                        </div>
                    </div>
                </div>

                <div  style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>INSERT SPEC</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="insertspecnew" class="form-control" placeholder="Enter Insert Spec">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>No.of.Edges</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="edgesnew" class="form-control" placeholder="Enter No.of.Edges">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>Edge Life</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="edgelifenew" class="form-control" placeholder="Enter Edge Life">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>Make</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="makenew" class="form-control" placeholder="Enter make">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>Supplier</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="suppliernew" class="form-control" placeholder="Enter Supplier">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>Rate</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="ratenew" class="form-control" placeholder="Enter Rate">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>CPC</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="cpcnew" class="form-control" placeholder="Enter CPC">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>INSERT LIFE</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="insertlifenew" class="form-control" placeholder="Enter InsertLife">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>Alternate Insert</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="alternateinsertnew" class="form-control" placeholder="Enter Alternate Insert">
                        </div>
                    </div>
                </div>

                <div style="margin-left: 20px">
                    <div class="form-group mt-4">
                        <span>No.of.edge for Alternative</span>
                    </div>
                    <br>
                    <div class="form-row " style="margin-top: -10px">
                        <div class="col">
                            <input type="text" formControlName="noofedgeforalternativenew" class="form-control" placeholder="Enter No.of.edge">
                        </div>
                    </div>
                </div>


            </div>

            <div>
                <div class="form-row mt-4">
                    <div>
                        <button style="margin-left: 50px" type="button" class="btn btn-primary" (click)="addItem()">Add</button>&nbsp;
                    
                        <button style="margin-left: 50px" type="button" class="btn btn-primary" (click)="reset()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br><br>
    <div class="table-responsive">
        <table class="table table-bordered">
            
                <tr>
                    <th>Drawing Number</th>
                    <th>Component Name</th>
                    <th>Part Name</th>
                    <th>Material</th>
                    <th>Sequence Name</th>
                    <th>OPN</th>
                    <th>Bar</th>
                    <th>Insert Spec</th>
                    <th>Edges</th>
                    <th>Edge Life</th>
                    <th>Make</th>
                    <th>Supplier</th>
                    <th>Rate</th>
                    <th>CPC</th>
                    <th>InsertLife</th>
                    <th>AlternateInsert</th>
                    <th>NOofEdgeforAlternative</th>

                </tr>
            
            <tbody>
                <tr *ngFor="let item of listData">
                    <td><span>{{item.drawingnumbernew}}</span></td>
                    <td><span>{{item.componentnamenew}}</span></td>
                    <td><span>{{item.partnamenew}}</span></td>
                    <td><span>{{item.materialnew }}</span></td>
                    <td><span>{{item.sequencenamenew}}</span></td>
                    <td><span>{{item.opnnew}}</span></td>
                    <td><span>{{item.barnew }}</span></td>
                    <td><span>{{item.insertspecnew}}</span></td>
                    <td><span>{{item.edgesnew}}</span></td>
                    <td><span>{{item.edgelifenew }}</span></td>
                    <td><span>{{item.makenew}}</span></td>
                    <td><span>{{item.suppliernew}}</span></td>
                    <td><span>{{item.ratenew }}</span></td>
                    <td><span>{{item.cpcnew}}</span></td>
                    <td><span>{{item.insertlifenew }}</span></td>
                    <td><span>{{item.alternateinsertnew}}</span></td>
                    <td><span>{{item.noofedgeforalternativenew}}</span></td>
                    <td><button type="button" class="btn btn-primary" (click)="removeitem(item)">Remove</button></td>
                </tr>
            </tbody>
        </table>

        <div>
            <div class="form-row mt-4">
                <div class="col-md-6">
                    <button style="margin-left: 70px" (click)="grid()" type="button" class="btn btn-primary" >Save</button>&nbsp;
                   
                </div>
            </div>
        </div>
        
    </div>
</div>
        </div>
    </div>
    </div> 
</body>
</html>