@import url('../assets/vendor/fontawesome-free/css/all.min.css');
@import url('../assets/css/sb-admin-2.css');

.head{
    font-size: 60px;
    padding-top: 120px;
    background: url("/src/assets/img/logo.jpg");
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration-color: black;
}


.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  