<html>
    <head>
        <title>Sakthi Group</title>
        <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    </head>

    <body>
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" >
                    
                    <div class="sidebar-brand-text mx-3">Sakthi Group</div>
                </a>
                <hr class="sidebar-divider my-0">
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Menu
                </div>

                <div ngbDropdown class="nav-item">
                    <a [routerLink]="['/data']" ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Drawing</span>
                </a>
             </div>

             <div ngbDropdown class="nav-item">
                <a [routerLink]="['/grid']" ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>GRID</span>
            </a>
         </div>
         <div ngbDropdown class="nav-item">
            <a [routerLink]="['/update']" ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>UPDATE</span>
           </a>
         </div>

         <div ngbDropdown class="nav-item">
         <a [routerLink]="['/upload']" ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
           <i class="fas fa-fw fa-cog"></i>
           <span>UPLOAD</span>
         </a>
         </div>

         <hr  class="sidebar-divider d-none d-md-block">

         <div  class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>  
            </ul>

        
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block">

                        </div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Username</span>
                                <img class="img-profile rounded-circle"
                                    src="/assets/img/images.png">
                            </a>
                        </li>

                    </ul>

                </nav>

               
                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Update Data</h1>
                        </div>
                        <div class="row">

                            <!-- Area Chart -->
                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <br>
                                        <div>
                                        
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <form>
                                            <div class="form-group" >
                                              <label for="exampleInputPassword1" >Part Name</label>
                                              <select id="exampleInputPassword1" class="form-control"  >
                                                <option *ngFor="let dat of datas;let i=index" value="">{{dat.partname}}Select the Part Name</option>
                                                <option value="1P  DN100RB CL150 BODY">1P  DN100RB CL150 BODY</option>
                                                <option value="1P DN 100 RB CL 300 BODY ">1P DN 100 RB CL 300 BODY </option>
                                                <option value="1P DN 80 RB CL 150 BODY">1P DN 80 RB CL 150 BODY</option>
                                                <option value="1P DN 80 RB CL 300 BODY">1P DN 80 RB CL 300 BODY</option>
                                                <option value="1P DN150RB CL150 BODY">1P DN150RB CL150 BODY</option>
                                                <option value="1P DN150RB CL300 BODY">1P DN150RB CL300 BODY</option>
                                                <option value="1P DN15FB CL150 BODY">1P DN15FB CL150 BODY</option>
                                                <option value="1P DN15FB CL300 BODY">1P DN15FB CL300 BODY</option>
                                                <option value="1P DN20RB CL150 BODY">1P DN20RB CL150 BODY</option>
                                                <option value="1P DN20RB CL300 BODY">1P DN20RB CL300 BODY</option>
                                                <option value="1P DN40RB CL300 BODY">1P DN40RB CL300 BODY</option>
                                                <option value="1P DN50FB CL300 BODY">1P DN50FB CL300 BODY</option>
                                                <option value="1P DN50RB CL150 BODY">1P DN50RB CL150 BODY</option>
                                                <option value="1P DN65RB CL150 BODY"> 1P DN65RB CL150 BODY</option>
                                                <option value="1P DN65RB CL300 BODY"> 1P DN65RB CL300 BODY</option>
                                                <option value="1PDN25RB CL150 BODY">1PDN25RB CL150 BODY</option>
                                                <option value="1PDN25RB CL300 BODY">1PDN25RB CL300 BODY</option>
                                                <option value="1PDN40RB CL150 BODY">1PDN40RB CL150 BODY</option>
                                                <option value="2P DN 15 FB CL150 CONNECTOR"> 2P DN 15 FB CL150 CONNECTOR</option>
                                                <option value="2P DN15FB CL150 BODY ">2P DN15FB CL150 BODY </option>
                                                <option value="2P DN20FB  CL300 BODY">2P DN20FB  CL300 BODY</option>
                                                <option value="2P DN20FB CL150 BODY">2P DN20FB CL150 BODY</option>
                                                <option value="2P DN20FB CLASS 300 CONNECTOR">2P DN20FB CLASS 300 CONNECTOR</option>
                                                <option value="2P DN25FB CL150 BODY">2P DN25FB CL150 BODY</option>
                                                <option value="2P DN25FB CL150 CONNECTOR">2P DN25FB CL150 CONNECTOR</option>
                                                <option value="2P DN25FB CL300 BODY">2P DN25FB CL300 BODY</option>
                                                <option value="2P DN25FB CL300 CONNECTOR">2P DN25FB CL300 CONNECTOR</option>
                                                <option value="2PDN15FB CL300 BODY ">2PDN15FB CL300 BODY </option>
                                                <option value="2PDN15FB CL300 CONNECTOR">2PDN15FB CL300 CONNECTOR</option>
                                                <option value="2PDN20FB CL150 CONNECTOR">2PDN20FB CL150 CONNECTOR</option>
                                                                                       
                                                <option value="">None</option>
                                              </select>
                                              
                                            </div>
                                            <div class="form-group"> 
                                              <label for="exampleInputPassword1">Material</label>
                                              <select id="exampleInputPassword1" class="form-control" >
                                                <option value="">Select the Material</option>
                                                <option value="CF8M">CF8M</option>
                                                <option value="CF8M SAND">CF8M SAND</option>
                                                <option value="">None</option>
                                              </select>
                                            </div>
    
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Sequence Name</label>
                                                <select id="exampleInputPassword1" class="form-control" >
                                                    <option value="">Select the Sequence</option>
                                                    <option value="BORE FINISHING">BORE FINISHING</option>
                                                    <option value="OD FINISHING">OD FINISHING</option>
                                                    <option value="OD ROUGHING">OD ROUGHING</option>
                                                    <option value="THREADING">THREADING</option>
                                                    <option value="">None</option>
                                                </select>
                                              </div>
    
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Operation</label>
                                                <select id="exampleInputPassword1" class="form-control" >
                                                    <option value="">Select the Operation</option>
                                                    <option value="N2">N2</option>
                                                    <option value="N3">N3</option>
                                                    <option value="N4">N4</option>
                                                    <option value="N5">N5</option>
                                                    <option value="N7">N7</option>
                                                    <option value="N8">N8</option>
                                                    <option value="">None</option>
                                                  </select>
                                            </div>
    
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Bar</label>
                                                <select id="exampleInputPassword1" class="form-control" >
                                                    <option value="">Select the Options</option>
                                                    <option value="ECLNR 2525-M12 ">ECLNR 2525-M12 </option>
                                                    <option value=" ETJNR 2525-M12"> ETJNR 2525-M12</option>
                                                   
                                                    
                                                    <option value="">None</option>
                                                  </select>
                                              </div>
    
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">InsertSpec</label>
                                                
                                                <select id="exampleInputPassword1" class="form-control" >
                                                    <option value="">Select the Options</option>
                                                    <option value="CCMT 09T308 HQ PR1125">CCMT 09T308 HQ PR1125</option>
                                                    <option value="CNMG120408-M3 35MT">CNMG120408-M3 35MT</option>
                                                    <option value="TNMG 160404 BM FQQ (2319)7125">TNMG 160404 BM FQQ (2319)7125</option>
                                                    
                                                    <option value="">None</option>
                                                  </select>
                                              </div>
    
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">Number of Edge</label>
                                                <select id="exampleInputPassword1" class="form-control" >
                                                    <option value="">Select Number of Edge</option>
                                                    <option value="2">2</option>
                                                    <option value="4">4</option>
                                                    <option value="6">6</option>
                                                    
                                                    <option value="">None</option>
                                                  </select>
                                              </div>
    
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">Edge Life</label>
                                                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter the edge life">
                                              </div>
    
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">Make</label>
                                                <select id="exampleInputPassword1" class="form-control" >
                                                    <option value="">Select the Options</option>
                                                    <option value="Q & Q">Q & Q</option>
                                                    <option value="SECCO">SECCO</option>
                                                    <option value="KYOCERA">KYOCERA</option>
                                                    
                                                    <option value="">None</option>
                                                  </select>
                                              </div>
    
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">Supplier</label>
                                                <select id="exampleInputPassword1" class="form-control" >
                                                    <option value="">Select the Supplier</option>
                                                    <option value="Q&Q SOLUTIONS">Q&Q SOLUTIONS</option>
                                                    <option value="SRI MAHAGANAPATHY MARKETING">SRI MAHAGANAPATHY MARKETING</option>
                                                    <option value="M.K. TOOLING">M.K. TOOLING</option>
                                                    
                                                    <option value="">None</option>
                                                  </select>
                                              </div>
    
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">Rate</label>
                                                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter the Rate">
                                              </div>
    
                                              <div class="form-group">
                                                <label for="exampleInputPassword1">Insert Life (Must be in number)</label>
                                                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter Insert Life">
                                              </div>
    
                                              <div class="form-group">
                                                <label for="exampleInputPassword1" >Enter Alternative Insert </label>
                                                                                           
                                                <select id="exampleInputPassword1" class="form-control" >
                                                    <option value="">Select the Insert</option>
                                                    <option value="16 IR AG 60 AH725">16 IR AG 60 AH725</option>
                                                    <option value="CCMT 09T304 PS T9125">CCMT 09T304 PS T9125</option>
                                                    <option value="CCMT 09T308 TS 9125">CCMT 09T308 TS 9125</option>
                                                    <option value="CNMG 120404N-GU A1464">CNMG 120404N-GU A1464</option>
                                                    <option value="CNMG 120408 8125">CNMG 120408 8125</option>
                                                    <option value="CNMG 120408 MS PR1125">CNMG 120408 MS PR1125</option>
                                                    <option value="CNMG 120412 1464">CNMG 120412 1464</option>
                                                    <option value="TNMG 160404 BM FQQ (2319)7125">TNMG 160404 BM FQQ (2319)7125</option>
                                                    <option value="">None</option>
                                                  </select>
                                                
                                              </div>
    
                                              <div class="form-group">
                                                <label for="exampleInputPassword1" >No of Edge for Alternative Insert  (Must not be greater than 6)</label>
                                                <input type="number" min="1" max="6" class="form-control" id="exampleInputPassword1" placeholder="Enter the number of edge">
                                                
                                              </div>
    
                                            <button type="submit" (click)="update()" class="btn btn-primary">Update</button>
                                        </form>
                                    </div>
                                </div>


                

                
<br><br><br>

<h2>enter update field</h2>
<!-- dropdown wants to be placed here -->
Example(insertlife)[new]:<input [(ngModel)]="data.insertlifenew"  type="text" name="insertlife"><br/>
Example(rate)[new]:<input [(ngModel)]="data.ratenew"  type="text" name="ratenew"><br/>
Example(noofedgeforalternative)[new]:<input [(ngModel)]="data.noofedgeforalternativenew"  type="number" name="noofedgeforalternativenew"><br/>
<button (click)="update()">Update</button>
<table>
    <tr *ngFor="let dat of upddat | keyvalue">
        <td>{{dat.key}}</td>
        <td>{{dat.value}}</td>
    </tr>
</table>