<p>update works!</p>
drawing num:<input [(ngModel)]="data.drawingnumber" type="text" name="drawingnumber"><br/><br>
<h2>get existing collection</h2>
<button (click)="existdata()">getdata</button>
<!-- <table>
    <tr *ngFor="let dat of datas | keyvalue">
        <td>{{dat.key}}</td>
        <td>{{dat.value}}</td>
    </tr>
</table> -->
<div *ngFor="let x of datas;let i=index">
    <table>
    <tr *ngFor="let dat of x | keyvalue">
        <td>{{dat.key}}</td>
        <td>{{dat.value}}</td>
    </tr>
    </table>
    <br/>
    <br/>
</div>
<h2>enter update field</h2>
<!-- dropdown wants to be placed here -->
Example(insertlife)[new]:<input [(ngModel)]="data.insertlifenew"  type="text" name="insertlife"><br/>
Example(rate)[new]:<input [(ngModel)]="data.ratenew"  type="text" name="ratenew"><br/>
Example(noofedgeforalternative)[new]:<input [(ngModel)]="data.noofedgeforalternativenew"  type="number" name="noofedgeforalternativenew"><br/>
<button (click)="update()">Update</button>
<table>
    <tr *ngFor="let dat of upddat | keyvalue">
        <td>{{dat.key}}</td>
        <td>{{dat.value}}</td>
    </tr>
</table>